body         { font-family: Verdana, tahoma, helvetica, arial, sans-serif; font-size: 8pt; background-color: #C0C0C0 }
table           { font-family: Verdana, tahoma, helvetica, arial, sans-serif; font-size: 8pt; background-color: #CCCCFF }
th           { font-family: Verdana, tahoma, helvetica, arial, sans-serif; font-size: 8pt; background-color: #0099FF }
p            { font-family: Verdana, tahoma, helvetica, arial, sans-serif; font-size: 8pt; }